services:
  web:
    build: .
    container_name: chaiHeadq_web
    env_file:
      - .env
    ports:
      - "8004:8004"
    depends_on:
      - db
    command: >
      sh -c "
      python wait_for_db.py &&
      python manage.py migrate &&
      gunicorn chaiHeadq.wsgi:application --bind 0.0.0.0:8004
      "

  db:
    image: postgres:15
    container_name: chaiHeadq_db
    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
