services:
  web:
    build: .
    container_name: chaiHeadq_web
    env_file:
      - .env
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    command: >
      sh -c "
      python wait_for_db.py &&
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000
      "


  db:
    image: postgres:15
    container_name: chaiHeadq_db
    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
